-var userProfileData = function(userprofile){
	-if(typeof(userprofile) !== 'undefined'){
		table
			each userdata,key in userprofile
				tr
					-if(typeof(userdata) !== 'undefined'){
						-if(userdata instanceof Array && 0 < userdata.length) {
							th #{key}
							td
								table 
									thead
										tr
											each data,k in userdata[0]
												th=k
									tbody
										each data,k in userdata
											tr
												each d, ka in data
													td=d
						-}else{
							-if(key == 'ImageUrl'){       
								-imageUrl=userdata
							-}
								th=key
								td=userdata
						-}
					-}
	-}
-}
script(type="text/html",id="loginradiuscustom_tmpl").
	<span class="lr-provider-label lr-sl-shaded-brick-button lr-flat-<#=Name.toLowerCase()#>" onclick="return  $LR.util.openWindow('<#= Endpoint #>&is_access_token=true&callback=<#= window.location #>');" title="Sign up with <#= Name #>" alt="Sign in with <#=Name#>">
	<span class="lr-raas-icon lr-raas-<#=Name.toLowerCase()#>"><#=Name#></span>
	</span>
script.
	raasoption = {};
	raasoption.apikey = '#{apikey}';
	raasoption.appName = '#{sitename}';
	raasoption.emailVerificationUrl = "/userreg/login";
	raasoption.forgotPasswordUrl = "/userreg/login";
	raasoption.passwordlength = {
		min: 10,
		max: 32
	};
	raasoption.formRenderDelay = 100;
	raasoption.inFormvalidationMessage = true / false;
	raasoption.V2Recaptcha = true;
	raasoption.enableLoginOnEmailVerification = true;
	raasoption.termsAndConditionHtml = "<p>Accept <a style='font-size: 12px;display: inline;' href='https://www.loginradius.com/loginradius/terms'> Terms</a> and <a href='https://www.loginradius.com/loginradius/privacy' style='font-size: 12px;display: inline;'>Condition</a> By clicking on Register<p>";
	raasoption.templatename = "loginradiuscustom_tmpl";
	raasoption.hashTemplate = true;
script(src='//cdn.loginradius.com/hub/prod/js/LoginRadiusRaaS.js')
div.nav
	ul
		if data
			li.nav-link.logout(data-url='/userreg/profile') User Profile
			li.nav-link.logout(data-url='/userreg/changepwd') Change Password
			li.nav-link.logout(data-url='logout') Logout
		else
			li.nav-link.login(data-url='/userreg/login') Login
			li.nav-link.login(data-url='/userreg/registration') Registration
			li.nav-link.login(data-url='/userreg/lostpwd') Lost Password
if url == '/userreg/login' || url == '/userreg/registration'
	div#social-login-container.interfacecontainerdiv
	script.
		LoginRadiusRaaS.CustomInterface(".interfacecontainerdiv", raasoption);
	script.
		$LR.util.ready(function() {
			LoginRadiusRaaS.init(raasoption, 'sociallogin', function(response) {
				// On Success this callback will call
				// response will be string as token
				// On Success
				console.log(response);
				if(response) {
					window.location.href = '/userreg/profile';
				}
			}, function(errors) {
				// on failure this function will call ‘errors’ which is an array of errors with message.
				// every kind of error will be returned in this method
				// you can run a loop on this array
				// On Errors
				console.log(errors);
			}, "social-login-container");
		});
if url == '/userreg/login'
	h1 Login
	div#login-container.lr-input-style
	script.
		$LR.util.ready(function() {
			LoginRadiusRaaS.init(raasoption, 'login', function(response) {
				// On Success this callback will call
				// response will be { access_token : ’<token>’,  expires_in : ‘<date and   time>’ }
				// you can use token response.access_token and get user profile using your 
				// LoginRadius SDK technology.
				// On Success
				console.log(response);
				if(response) {
					window.location.href = '/userreg/profile';
				}
			}, function(errors) {
				// on failure this function will call ‘errors’ which is an array of errors with message.
				// every kind of error will be returned in this method
				// you can run a loop on this array.
				// On Errors
				console.log(errors);
			}, "login-container");
		});
else if url == '/userreg/registration'
	h1 Register
	div#registration-container.lr-input-style
	script.
		$LR.util.ready(function() {
			LoginRadiusRaaS.init(raasoption, 'registration', function(response) {
				// On Success
				console.log(response);
			}, function(errors) {
				// On Errors
				console.log(errors);
			}, "registration-container");
		});
else if url == '/userreg/lostpwd'
	h1 Lost Password
	div#forgotpassword-container.lr-input-style
	script.
		$LR.util.ready(function() {
			LoginRadiusRaaS.init(raasoption, 'forgotpassword', function(response) {
				// On Success this callback will call
				// response will be { isPosted : true }
				// in this case user will get an email for password resetting
				// On Success
				console.log(response);
			}, function(errors) {
				// on failure this function will call ‘errors’ which is an array of errors with message.
				// every kind of error will be returned in this method
				// you can run a loop on this array.
				// On Errors
				console.log(errors);
			}, "forgotpassword-container");
		});
else if url == '/userreg/changepwd'
	h1 Change Password
	div#resetpassword-container.lr-input-style
	script.
		$LR.util.ready(function() {
			LoginRadiusRaaS.init(raasoption, 'resetpassword', function(response) {
				// On Success this callback will call
				// response will be { isPosted : true }
				// On Success
				console.log(response);
			}, function(errors) {
				// on failure this function will call 'errors' which is an array of errors with message.
				// every kind of error will be returned in this method
				// you can run a loop on this array.
				// On Errors
				console.log(errors);
			}, "resetpassword-container");
		});
else if url == '/userreg/profile'
	h1 User Profile Data
	div#user-data #{userProfileData(data)}
